[Unit]
Description=OpenStack Neutron Qos Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-qos-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --log-file /var/log/neutron/qos-agent.log
PrivateTmp=false
KillMode=process

[Install]
WantedBy=multi-user.target
